<nav>
    <div class="d-flex flex-col">
        <div>
            <a href="#">Link1</a>
        </div>
        <div>
            <a href="#">Link2</a>
        </div>
        <div>
            <a href="#">Link3</a>
        </div>
    </div>
</nav>