<nav id="myNav" class="navbar flex-col justify-content-between fixed-top navbar-expand-md bg-light">
    <div class="mx-4"><img src="logo.png" alt="logo" style='height:44px;'></div>
    <div class="mx-4"> 
      <ul class="mb-0 pl-0">
        <li>
          <a href="#">Profile</a>
        </li>
        <li class="mx-3">
          <a href="#">About us</a>
        </li>
        <li class="mx-3"> 
          <button class="btn btn-dark px-4 py-1">
            <i class="mr-2 lni-gift"></i>Give
          </button>
        </li>
      </ul>
    </div>
</nav> 