.jumbotron {
  background-image: url("/mainHeader.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #3f8419;
    border-color: #3f8419; }
    .jumbotron .btn-primary:hover {
      background: #3f8419; }
  .jumbotron p {
    color: #c2c9bf;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
.heading-jumbo{
  background: #f8fa77;
  /* padding: 2rem; */
}
.heading .btn{
  width: 200px;
}
.container{
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items;: center; */
}