#myNav{
    /* height: 100px; */
    font-size: 1.6rem;
    border-radius: 0!important;

}
.content{
    /* margin-top: 100px; */
}

/* .heading{
    margin-top: 100px;
} */
nav::before, nav::after{
    display: none!important;
}
nav ul li{
    display: inline;
}
nav .btn{
    font-size: inherit;
}
nav a{
    color: inherit;
}