<div class="middle-heading d-flex flex-col">
    <div>
        <img src="photos1.jpg" alt="" class="img-fluid">
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia voluptas ducimus cupiditate unde eligendi quod excepturi, repellat odit ipsum, sequi explicabo nobis quisquam nihil, ratione ut culpa? Quod, nesciunt mollitia voluptas distinctio rerum deserunt.</p>
</div>