<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Kadosilang | Giving platform</title>
  <link rel="stylesheet" href="stylesheets/nav.css">
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center content">
  <div class="container">
    <div class="heading">
      <h1>Selamat datang di Kadosilang</h1>
      <p>Kadosilang adalah sebuah platform daring yang berupaya menghubungkan pengguna untuk saling memberikan barang yang sudah tidak terpakai lagi kepada pengguna lain yang membutuhkan.</p>
      <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Mulai memberi di Kadosilang</a>
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Unduh aplikasi kami</a>
    </div>

  </div>
</div>
<% include ../home/content1.ejs %>
</body>
</html>
