<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Kadosilang | Giving platform</title>
  <link rel="stylesheet" href="stylesheets/nav.css">
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center content pb-0 mb-0">
  <div class="container" style='height:100%; display: flex;'>
    <div class="heading my-auto">
      <h1>Selamat datang di Kadosilang</h1>
      <p class="d-none d-lg-block">Kadosilang adalah sebuah platform daring yang berupaya menghubungkan pengguna untuk saling memberikan barang yang sudah tidak terpakai lagi kepada pengguna lain yang membutuhkan.</p>
      <a type="button" class="btn btn-lg btn-primary" href="#"><span class="glyphicon glyphicon-flash"></span> Mulai memberi di Kadosilang</a>
      <a type="button" class="btn btn-lg btn-light mt-3" href="#"><span class="glyphicon glyphicon-download"></span> Cari Barang di Sekitar Anda</a>
    </div>

  </div>
</div>
<% include ../home/content1.ejs %>
</body>
</html>
