<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Receive Page</title>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
</head>
<body>
    <% include ../partials/mynav.ejs %>

    <div class="container">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste quos mollitia ipsum ipsa aliquam dicta consequuntur voluptatum iusto sed distinctio ratione expedita, nemo iure blanditiis sit vitae doloribus? Ipsam aliquid nisi vero cupiditate nemo perferendis vitae ab alias nam reiciendis? Cumque, natus sapiente autem labore vitae quis, harum error sunt similique dolore reiciendis ipsam amet, explicabo pariatur aperiam dolorem veniam alias quia cupiditate laborum dolor sint illo. Aspernatur, molestias similique veritatis sapiente necessitatibus blanditiis quas quidem vitae accusamus consequuntur id perspiciatis vero, consequatur voluptatum earum, suscipit officiis molestiae natus totam laudantium quibusdam? Nisi, amet facere asperiores labore voluptatum odio, nesciunt exercitationem, perferendis autem eaque rerum porro ab? Nobis magni quaerat saepe, provident veniam dicta suscipit, doloribus facilis quos recusandae dolore consectetur. Repellat tenetur necessitatibus soluta aliquid tempora velit, ad animi delectus, asperiores quisquam aspernatur quas? Libero labore maxime architecto ut deserunt repellat ea ipsa. Impedit consequuntur tempora dolor, qui suscipit harum necessitatibus provident obcaecati. Aliquid, minima cupiditate odio quaerat dolores reprehenderit architecto perspiciatis dignissimos saepe, sit excepturi velit nulla iure deleniti delectus. Asperiores iure corporis adipisci dolorem minima autem deleniti amet repudiandae, excepturi quis magni veniam sit reprehenderit. Tempora, a. Perferendis est praesentium quam quos, sapiente alias reprehenderit minus ratione dicta eveniet soluta molestias, porro consequuntur delectus laboriosam. Suscipit eligendi possimus, doloribus aperiam aspernatur totam dicta, facilis excepturi beatae neque expedita nesciunt ad non, quis autem asperiores nostrum voluptate obcaecati nisi provident aut corrupti id voluptas nihil. Dolore neque quisquam ipsum. Quibusdam ea iure temporibus optio excepturi inventore sit neque non rem aliquam ipsum sunt maxime, beatae eum labore minus. Tempora, nobis ut debitis, assumenda similique hic quas et, numquam harum amet asperiores corporis? Illum, porro nulla quam beatae quidem distinctio quis consectetur odit quibusdam minus culpa fugit, a numquam maiores praesentium accusamus excepturi minima dolore totam, optio libero commodi.
        </p>
    </div>

    <% include ../partials/btmnav.ejs %>
</body>
</html>